.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #e99571 0%, #ace0f9 100%);
  padding-top: 50px;
  padding-block-end: 35%;
}
.container-size {
  width: 55%;
  margin: 0 auto;
}
