.App {
  /*text-align: center;*/
  font-family: "Jost", sans-serif;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  padding-top: 50px;
  padding-block-end: 35%;
}
.container-size {
  max-width: 600px;
  margin: 30px auto;
}
