.search-bar {
  margin-top: 100px;
}
.search-button {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  opacity: 80%;
}
.search-button:hover {
  opacity: 80%;
  transform: scale(1.1);
}