.search-form {
  margin: 30px 40px;
}
.search-button {
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 10px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.search-button:hover {
  opacity: 80%;
  transform: scale(1.1);
}