.Weather {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.Weather .overview {
  margin: 30px 0px;
}

.Weather .weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.Weather .weather-temperature .units {
  position: absolute;
  font-size: 14px;
  vertical-align: text-top;

  /*padding-left: 6px;*/
}

.Weather .weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
  text-decoration: none;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .footer {
  text-align: center;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
}

.Weather .weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
